body
{
    font-family:Arial, Helvetica, sans-serif;
    background-color: aqua;
    display: flex;
    margin:0%;
    height: 100px;

}
h1
{
    font-display: block;
}
button
{
 cursor:pointer;
 color:brown;
}
button:hover
{
    background-color: chartreuse;

}